<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cube.simple.mapper.read.ReadMemberMapper">

    <select id="selectAll" resultType="Member">
		SELECT
			* 
		FROM Member
    </select>

    <select id="selectById" resultType="Member">
		SELECT
			* 
		FROM Member
		WHERE id = #{id}
    </select>

    <select id="selectCount" resultType="Member">
		SELECT
			COUNT(id) as n 
		FROM Member
    </select>

</mapper>