<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cube.simple.mapper.read.ReadDeviceMapper">

    <select id="selectAll" resultType="Device">
		SELECT
			* 
		FROM Device
    </select>

    <select id="selectById" resultType="Device">
		SELECT
			* 
		FROM Device
		WHERE id = #{id}
    </select>

    <select id="selectCount" resultType="Device">
		SELECT
			COUNT(id) as n 
		FROM Device
    </select>

</mapper>