<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="appName" value="${project.artifactId}" />
	<property name="appVersion" value="${project.version}" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 파일 로테이션 설정 (파일명을 직접 패턴으로 설정) -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 로그 파일명에 artifactId와 날짜/시간 포함 -->
            <fileNamePattern>log/${appName}-${appVersion}-%d{yyyyMMddHH}.log</fileNamePattern>
            <!-- 최대 7일간 로그 파일 보관 -->
            <maxHistory>168</maxHistory> <!-- 7일 * 24시간 = 168 -->
        </rollingPolicy>

        <!-- 로그 출력 포맷 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 로그 레벨 설정: 모든 로그를 파일에 기록하고, 콘솔에는 WARN 이상만 기록 -->
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
