<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cube.simple.mapper.write.user.WritePlaceMapper">

    <insert id="insert" parameterType="com.cube.simple.model.user.Place">
        INSERT INTO Place (name, description) VALUES (#{name}, #{description})
    </insert>

    <update id="update" parameterType="com.cube.simple.model.user.Place">
        UPDATE Place 
        SET
        update_date = CURRENT_TIMESTAMP,
        <trim suffixOverrides=",">
            <if test='name != null'>
                name = #{name},
            </if>
            <if test='description != null'>
                description = #{description},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE 
        FROM Place
        WHERE id = #{id}
    </delete>

</mapper>